$primary: #16a085;

body {
  font-family: "roboto";
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.container {
  width: 650px;
  padding: 48px 48px 0px 48px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;

  .header {
    padding: 16px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      h1 {
        font-weight: bold;
        font-size: 1.4rem;
      }
      .img {
        cursor: pointer;
        border: 4px solid transparent;
        border-radius: 50%;
        transition: all 0.5s;
        &:hover {
          border: 4px solid #ddd;
          transition: all 0.5s;
        }
        img {
          padding: 8px;
          border: 1px solid #aaa;
          border-radius: 50%;
        }
      }
    }

    .subTitle {
      color: rgb(114, 114, 114);
    }
  }

  .command {
    padding: 16px;
    color: #363636;
    background: url("./img/bicycle.png");
    background-size: cover;
    background-position-y: -220%;
    background-repeat: no-repeat;
    height: 360px;

    .line {
      margin: 32px 0;
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      .name {
        width: 80%;
      }
      .price {
        width: 20%;
        font-weight: bold;
      }
    }

    .total {
      .name {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
